.Specification_header_logo{
    margin-top: 1.5rem;
    font-family: 'Architects Daughter', cursive;
}
.Specification_header_button{
    margin: 1.5rem 0;
}

.Specification_footer_button{
    margin: 1.5rem 0;
}

.Specification_footer_logo{
    margin-bottom: 1.5rem;
    font-family: 'Architects Daughter', cursive;
}